<div>
  <!-- <div>.ın algoritma ve akış diyagramını
    çiziniz.</div>
  <input type="text" [(ngModel)]="searchTerm">
  <button>Calculate Sum</button>
  <div> -->
  <h3 class="">1-- 10 elemanlı bir sayı dizisinde en küçük elemanın bu dizinin kaçıncı
    elemanı olduğunu bulan program</h3>
  <p>Dizi: {{ dizi | json }}</p>
  <p>En Küçük Eleman: {{ enKucuk }}</p>
  <button (click)="onButtonClick()">Yeniden Oluştur</button>
  <img src="../assets/images/enkucuk (1).jpg" width="300px" height="300px" style="float: inline-end;">
</div>
<div>
  <h3 class="">2-- Asal çarpanları algoritması </h3>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Enter number">
  <button (click)="clickAsalSayi()">Asal Sayi Mı?</button>
  <p>{{ asalN }}</p>

  <img src="../assets/images/asalsayi.jpg" width="300px" height="300px" style="float: inline-end;">
</div>
<div>
  <h3>3--Bubble Sort Algorithm</h3>
  <p>Orjinal Dizi:</p>
  <ul style="list-style: none; margin: 12px;">
    <li *ngFor="let num of orjinalDizi">{{ num }}</li>
  </ul>
  <p>Küçükten büyüğe sıralanmış dizi:</p>
  <ul style="list-style: none; margin: 12px;">
    <li *ngFor="let num of siralanmisdizi">{{ num }}</li>
  </ul>
  <div> Algoritmayı çalıştırmak için butona tıkla </div>
  <button (click)="buttonClick()">Sort</button>
  <img src="../assets/images/bubblesort.jpg" width="300px" height="300px" style="float: inline-end;">
</div>

<div>
  <h3>4-- ikinci dereceden denklem çözme</h3>
  <input type="text" [(ngModel)]="x" placeholder="Enter number">
  <input type="text" [(ngModel)]="y" placeholder="Enter number">
  <input type="text" [(ngModel)]="z" placeholder="Enter number">
  <button (click)="denklemCozme()">Hesapla</button>
  <div *ngIf="kokler.length > 0">
    <p>Kökler:</p>
    <ul>
      <li *ngFor="let kok of kokler">{{ kok }}</li>
    </ul>
  </div>
  <img src="../assets/images/denklem.jpg" width="300px" height="300px" style="float: inline-end;">
</div>